<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1><%= @team.name %></h1>
<a href="/clients">Back</a>
<br>

<% if @user.team_authority == 2 %>
  <h3>Add User to Team</h3>
  <%= form_for :new_member, url: { action: "add_member" } do |f| %>
    <%= f.hidden_field :team_id, value: @team.id %>
    <%= f.label "User Email" %>
    <%= f.text_field :email %>
    <%= f.select(:team_authority, [["Member", 1], ["Admin", 2]]) %>
    <%= f.submit "Add User" %>
  <% end %>
<% end %>

<h3>Team Members</h3>
<ul>
  <% @team_members.each do |member| %>
    <li><%= member.first_name %> <%= member.last_name %></li>
  <% end %>
</ul>

<h3>Team Inventory</h3>
<!-- ****Hover over item to see picture of the product**** -->
<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Size</th>
      <th>Quantity</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% @team_members.each do |member| %>
      <% member.products.each do |product| %>
      <tr>
        <td><%= product.prod_name %></td>
        <td><%= product.prod_size %></td>
        <td><%= product.prod_quantity %></td>
        <td><%= member.first_name %> <%= member.last_name %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
