<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h2>Welcome, <%= @user.first_name %>!</h1>
<a href="/products">Inventory</a>
<a href="/teams">Team</a>
<a href="/invoices">Invoices</a>
<a href="/logout">Logout</a><p></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Uninvoiced Sales</th>
      <th>Invoiced Sales</th>
      <th>Completed Sales</th>
      <th>Total Sales</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><a href="/clients/<%= client.id %>"><%= client.first_name %> <%= client.last_name %></a></td>
        <td><%= client.email %></td>
        <td><%= client.sales.where(sales_code_id: 1).sum(:sale_price) %></td>
        <td><%= client.sales.where(sales_code_id: 2).sum(:sale_price) %></td>
        <td><%= client.sales.where(sales_code_id: 3).sum(:sale_price) %></td>
        <td><%= client.sales.sum(:sale_price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<h4>Add New Client</h4>
<%= form_for @client do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div><br>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div><br>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div><br>
  <%= f.submit "Add" %>
<% end %>

<% if @user.team_id %>
  <p>You are already on a team!</p>
<% else %>
  <h3>Create a Team</h3>
  <%= form_for @team do |f| %>
    <div>
      <%= f.label "Team Name" %>
      <%= f.text_field :name %>
    </div><br>
    <%= f.submit "Create" %>
  <% end %>
<% end %>
