<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<h1><%= @client.first_name %> <%= @client.last_name %> - Reward Status: <%= @client.reward.level %></h1>
<p>Total Points: <%= number_with_delimiter(@client.points.sum(:amount)) %> || Dollar Value: <%= number_to_currency(@client.points.sum(:amount) * @client.reward.multiplier / 100) %></p>
<a href="/clients">All Clients</a>

<h3>All Rewards</h3>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Dollar Value</th>
      <th>Reason</th>
      <th>Date Added</th>
    </tr>
  </thead>
  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= number_with_delimiter(point.amount) %></td>
        <td><%= number_to_currency(point.amount * @client.reward.multiplier / 100) %></td>
        <td><%= point.reason %></td>
        <td><%= point.created_at.strftime("%B %-d, %Y, %-I:%M %p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Change Reward Status</h3>
<%= form_for @client, url: { controller: 'clients', action: 'update_loyalty_level' } do |f| %>
  <%= f.hidden_field :client_id, value: @client.id %>
  <%= f.label "Reward Status" %>
  <%= f.fields_for :reward do |h| %>
    <%= h.select(:level, [['Bronze', 1], ['Silver', 2], ['Gold', 3], ['Platinum', 4]]) %>
  <% end %>
  <%= f.submit "Update" %>
<% end %>
<br>
<h3>Modify Points</h3>
<%= form_for @point do |f| %>
  <%= f.hidden_field :client_id, value: @client.id %>
  <%= f.label "Type" %>
  <%= f.select(:trans_type, [["Award"], ["Redeem"]]) %><br>
  <%= f.label "Points" %>
  <%= f.select(:amount, [
    [100], [500], [1000], [2000], [3000], [4000], [5000], [6000], [7000],
    [8000], [9000], [10000], [11000], [12000], [13000], [14000], [15000]
  ]) %><br>
  <%= f.label "Award Reason" %><br>
  <%= f.text_area :reason %><br><br>
  <%= f.submit "Add" %>
<% end %>
