<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>My Products</h1>
<a href="/clients">Client List</a>

<% @products.each do |product| %>
<div>
  <p><%= product.prod_name %> - <%= product.prod_size %></p>
  <p>Quantity: <%= product.prod_quantity %> || Available: </p>
  <p><%= image_tag product.prod_pic.url, size: "200x200" %></p>
</div>
<hr>
<% end %>

<br><br>

<%= form_for @product do |f| %>
  <div>
    <%= f.label "Name" %>
    <%= f.text_field :prod_name %>
  </div><br>
  <div>
    <%= f.label "Size" %>
    <%= f.text_field :prod_size %>
  </div><br>
  <div>
    <%= f.label "Quantity" %>
    <%= f.number_field :prod_quantity %>
  </div><br>
  <div>
    <%= f.label "Picture" %>
    <%= f.file_field :prod_pic %>
  </div><br>
  <%= f.submit "Add Product" %>
<% end %>
