<h1>Edit Sale</h1>

<%= form_for @sale do |f| %>
  <div>
    <%= f.label :prod_name %>
    <%= f.text_field :prod_name %>
  </div><br>
  <div>
    <%= f.label :prod_size %>
    <%= f.text_field :prod_size %>
  </div><br>
  <div>
    <%= f.label :prod_price %>
    <%= f.number_field :prod_price %>
  </div><br>
  <%= f.submit "Edit Sale" %>
<% end %>
